.ft-size-12 {
    font-size: 12px !important;
}

.ft-size-18 {
    font-size: 18px !important;
}

.ft-size-20 {
    font-size: 20px !important;
}

.ft-size-19 {
    font-size: 19px !important;
}

.ft-size-17 {
    font-size: 17px !important;
}

.ft-size-16 {
    font-size: 16px !important;
}

.ft-size-15 {
    font-size: 15px !important;
}

.ft-size-13 {
    font-size: 13px !important;
}

.ft-size-14 {
    font-size: 14px !important;
}

.pd-30 {
    padding: 30px !important;
}

.pd-25 {
    padding: 25px !important;
}

.pd-20 {
    padding: 20px !important;
}

.pd-15 {
    padding: 15px !important;
}

.pd-10 {
    padding: 10px !important;
}

.pd-9 {
    padding: 9px !important;
}

.pd-8 {
    padding: 8px !important;
}

.pd-7 {
    padding: 7px !important;
}

.pd-6 {
    padding: 6px !important;
}

.pd-5 {
    padding: 5px !important;
}

.pd-4 {
    padding: 4px !important;
}

.pd-3 {
    padding: 3px !important;
}

.pd-2 {
    padding: 2px !important;
}

.pd-1 {
    padding: 1px !important;
}


.ml-10 {
    margin-left: 10px !important;
}

.ml-11 {
    margin-left: 11px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.ml-13 {
    margin-left: 13px !important;
}

.ml-14 {
    margin-left: 14px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.ml-17 {
    margin-left: 17px !important;
}

.ml-18 {
    margin-left: 18px !important;
}

.ml-19 {
    margin-left: 19px !important;
}

.ml-20 {
    margin-left: 20px !important;
}


.bd-r-10 {
    border-radius: 10px !important;
}

.bd-r-20 {
    border-radius: 20px !important;
}

.bd-r-30 {
    border-radius: 30px !important;
}

.ml-9 {
    margin-left: 9px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-7 {
    margin-left: 7px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-2 {
    margin-left: 2px !important;
}